CompileFlags:
  Add:
    - -xc
    - -std=c17
    - -D_COSMO_SOURCE
    - -include
    - libc/integral/normalize.inc
    - -Iinclude
    - -Ivendor/cjson
    - -Isrc/gemfile
    - -isystem/home/groobiest/Code/jart/cosmopolitan/.cosmocc/3.9.2/include
    - -isystem/home/groobiest/Code/jart/cosmopolitan
    - -isystem/home/groobiest/Code/jart/cosmopolitan/third_party/libyaml
